#navList
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#carouselCap
{

    text-align: center;
    margin-bottom: 170px;
    animation-duration: 1.2s;
    animation-delay: 0.5s;
}
.carousel .carousel-indicators li
{
    width: 30px;
    height: 5px;
    border-radius: 0%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.destinationBox
{
    background-color: teal;
    color: white;
    padding: 30px ;
    
}
.followContainer
{
    background-color: teal;
    text-align: center;
}
.contactCard
{
    background-color: teal;
}
footer
{
    background-color: teal;
    color: white;
}